@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F9F9;
} */

body {
  max-width: 1360px; /* aqui eu limito o tamanho da minha aplicação */
  margin: 0 auto; /* se a tela passar de 1360px minha aplicação fica no meio da tela */
  height: 100vh; /* aqui eu eu faço com que minha aplicação pegue o tamanho total da tela */
  background-color: rgba(220, 221, 221, 0.502);
  display: flex; /* usando somente para alinha minha section ao centro na vertical */
  align-items: center; /* centralizando a section na vertical*/
}

/* .bmi-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15%;
    min-width: 1200px;
    min-height: auto;
    border-radius: 10px;
    background-color: #EBDEF0;
} */

/* aqui eu tirei o itens
margin-top, ajustei o width, ajustei o height  
por que fiz isso para manter sua aplicação centralizada na tela
*/

.bmi-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; /* centralizando aplicação */
  width: 80vw; /* colocando uma limitação de 80% da tela na horizontal */
  height: 80vh; /* colocando uma limitação de 80% da tela na vertical */
  border-radius: 10px;
  background-color: #ebdef0;
}

.bmi-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 140px;
}

.bmi-container img {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    height: 600px;
    border-radius: 10px 0 0 10px;
}

.bmi-container-content h1 {
    font-size: 30px;
    margin: 40px;
}

.bmi-container p {
    font-size: 18px;
}

.bmi-container-content input {
    background-color: #F8F9F9 ;
    border: none;
    margin: 20px;
}

.bmi-container-content button {
    border: none;
    margin: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #C39BD3;
    font-weight: 400;
    cursor: pointer;
}

.bmi-container button:hover {
    font-weight: 600;
}

.bmi-container-content input {
    font-size: 16px;
    text-align: center;
    padding: 14px;
    border-radius: 15px;
}
